.card-header{
    background-color: white!important;
    padding: 3px 15px!important;
    color: midnightblue!important;
}
.button-search{
  background-color: midnightblue;
  color: white;
}
h3{
  color :midnightblue;
}
p{
  color :midnightblue;
} 
.sottTitle{
  color: midnightblue ;
  border-bottom: 3px solid cornflowerblue;
}
fa-icon{
  cursor: pointer;
  font-size: 18px;
  color: #007bff;
}