.ngp-page{
  color: midnightblue;
}
.form-group {
  color :midnightblue;
}
input{
  color :midnightblue;
}
select{
  color :midnightblue;
}
textarea{
  color :midnightblue;
}
:required {
  background-color: #dee2e6;
}
#inputEuro{
  width: 90%;
}
 
  
  